:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6d49cb;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #5e5e5e;
  --gray-dark: #404040;
  --primary: #007bff;
  --secondary: #f0f0f0;
  --success: #108548;
  --info: #1f75cb;
  --warning: #ab6100;
  --danger: #dd2b0e;
  --light: #dbdbdb;
  --dark: #404040;
  --border-color: #dbdbdb;
  --red-100: #fdd4cd;
  --red-500: #dd2b0e;
  --red-600: #c91c00;
  --green-100: #c3e6cd;
  --green-500: #108548;
  --green-700: #24663b;
  --blue-100: #cbe2f9;
  --blue-500: #1f75cb;
  --blue-600: #1068bf;
  --gl-text-color: #303030;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: "Menlo", "DejaVu Sans Mono", "Liberation Mono",
  "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console",
  monospace;
}

.deploy-plugin {
	display: flex;
	flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.deploy-plugin .menu {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
	min-height: 54px;
  border: 1px solid #dbdbdb;
  padding: 10px;
}

.pipeline-select {
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #303030;
  /*font-size: 0.875rem;*/
}

.pipeline-select > select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  tab-size: 8;
  color: #303030;
  /*font-size: 0.875rem;*/
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
  align-items: center;
  padding: 0.2rem 0.3rem;
  border-radius: 0.25rem;
  margin-left: 10px;
  border: 1px solid #dbdbdb;
}

.run-pipeline-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  tab-size: 8;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  display: inline-flex;
  transition: background-color 100ms linear, border-color 100ms linear,
  color 100ms linear, box-shadow 100ms linear;
  font-weight: 400;
  border-color: #dbdbdb;
  white-space: nowrap;
  border-width: 0;
  padding: 0.5rem 0.75rem;
  line-height: 1rem;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  /*font-size: 0.875rem;*/
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  background-color: #1f75cb;
  box-shadow: inset 0 0 0 1px #1068bf;
  margin-right: 0;
  float: none;
}

.run-pipeline-button:hover {
  box-shadow: inset 0 0 0 2px #064787, 0 2px 2px 0 rgb(0 0 0 / 8%);
  background: #1068bf;
}

.refresh-button {
  box-shadow: inset 0 0 0 1px #bfbfbf;
  font-size: 1.6rem;
  border-radius: 0.25rem;
  color: #525252;
  background-color: transparent;
  transition: background-color 100ms linear, border-color 100ms linear,
  color 100ms linear, box-shadow 100ms linear;
}

.refresh-button:hover {
  box-shadow: inset 0 0 0 2px #868686, 0 2px 2px 0 rgb(0 0 0 / 8%);
  background: var(--secondary);
}

.pipeline-link {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  text-align: left;
  tab-size: 8;
  --gl-theme-accent: #999;
  border-collapse: collapse;
  border-spacing: 0;
  /*font-size: 0.875rem;*/
  /*line-height: 20px;*/
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 100ms linear, color 100ms linear,
  border 100ms linear;
  padding: 0 7px;
  border: 1px solid var(--border-color, #dbdbdb);
  white-space: nowrap;
  border-radius: 4px;
  color: var(--gl-text-color, #303030);
  border-color: currentColor;
	display: inline-block;
	width: max-content;
}

.pipeline-link:hover {
  background-color: rgba(48, 48, 48, 0.07);
}

.pipeline-link.failed {
  color: var(--red-500, #dd2b0e);
  border-color: var(--red-500, #dd2b0e);
}

.pipeline-link.failed:hover {
  background-color: var(--red-100, #fdd4cd);
  color: var(--red-600, #c91c00);
  border-color: var(--red-600, #c91c00);
}

.pipeline-link.success {
  color: var(--green-500, #108548);
  border-color: var(--green-500, #108548);
}
.pipeline-link.success:hover {
  background-color: var(--green-100, #c3e6cd);
  color: var(--green-700, #24663b);
  border-color: var(--green-700, #24663b);
}

.pipeline-link.running {
  color: var(--blue-500, #1f75cb);
  border-color: var(--blue-500, #1f75cb);
}

.pipeline-link.running:hover {
  background-color: var(--blue-100, #cbe2f9);
  color: var(--blue-600, #1068bf);
  border-color: var(--blue-600, #1068bf);
}

.pipeline-link__icon {
  box-sizing: border-box;
  overflow: visible;
  width: 16px;
  height: 16px;
  margin: 0 6px 6px -6px;
}

.pipeline-time-info__group {
  display: flex;
  flex-direction: column;
}

.pipeline-time-info {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  text-align: left;
  tab-size: 8;
  border-collapse: collapse;
  border-spacing: 0;
  /*font-size: 0.875rem;*/
  box-sizing: border-box;
  margin: 0;
  white-space: nowrap;
}

.branch-col {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  text-align: left;
  tab-size: 8;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 100ms linear, color 100ms linear,
  border 100ms linear;
}

.cancel-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  tab-size: 8;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  overflow: visible;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  display: inline-flex;
  transition: background-color 100ms linear, border-color 100ms linear,
  color 100ms linear, box-shadow 100ms linear;
  white-space: nowrap;
  margin-left: 0.125rem;
  -webkit-appearance: inherit;
  position: relative;
  border-width: 0;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  /*font-size: 0.875rem;*/
  border-radius: 0.25rem;
  border-color: #c91c00;
  cursor: pointer;
  color: #fff;
  background-color: #dd2b0e;
  box-shadow: inset 0 0 0 1px #c91c00;
  padding: 0.4rem;
  line-height: 1rem;
}

.actions-col {
  text-align: end;
}

*:disabled {
  background-color: #fafafa !important;
  color: #868686 !important;
  box-shadow: inset 0 0 0 1px #dbdbdb !important;
  opacity: 1;
  cursor: not-allowed !important;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  tab-size: 8;
  border-collapse: collapse;
  border-spacing: 0;
  color: #666;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  background-color: transparent !important;
  border-bottom-style: solid !important;
  border-bottom-color: #dbdbdb !important;
  border-bottom-width: 1px !important;
  padding: 1rem !important;
  border-top: 1px solid #dbdbdb;
  border-top-style: none;
  font-weight: 600;
  border-color: #bfbfbf;
  line-height: 20px;
  vertical-align: middle;
}

th:last-child {
  width: 1%;
}

td {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  text-align: left;
  tab-size: 8;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  padding: 1rem !important;
	border-top: 1px solid #dbdbdb;
  border-top-style: none;
	border-bottom: 1px solid #dbdbdb;
  background-color: transparent;
  line-height: 20px;
  vertical-align: middle;
}

.loading-row {
  text-align: center;
}
